header {
  border-bottom: 1px solid #ececec;
}
.header {
  height: 80px;
  padding: 0 15px;
}
.header.container {
  display: flex;
  justify-content: space-between;
}
.logo-text {
  color: var(--menu-color);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-text-color {
  color: var(--accent-color);
}

.nav .link {
  color: var(--menu-color);
  font-weight: 500;
  text-decoration: none;
  transition: color var(--time) var(--cubic);
}
.link:hover .button-icon,
.link:focus .button-icon {
  fill: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-link {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  width: 294px;
  justify-content: space-between;
}
.nav-item {
  position: relative;
}
.contacts {
  display: flex;
  align-items: center;
}
.contacts .link {
  margin: 0;
  border: 0;
  color: var(--main-text-color);
  align-items: flex-end;
  transition: color var(--time) var(--cubic);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.button-icon {
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--cubic);
}
.link.phone {
  margin-left: 50px;
}
.link.current {
  color: var(--accent-color);
}
.link.current::after {
  position: absolute;
  top: calc(100% + 29px);
  left: 0;
  display: inline-block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}