.client__list {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.client__icon{
  display: block;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border $time $cubic;
  &:hover .client__button-icons,
  &:focus .client__button-icons {
    fill: $accent-color;
  }
  &:hover,
  &:focus {
  border: 1px solid $accent-color;
  outline: none;
}

}
.client__item:not(:last-child) {
  margin-right: 30px;
}
.client__button-icons {
  fill: #afb1b8;
  transition: fill $time $cubic;
}
