.hero {
  display: block;
  background-color: rgba(47, 48, 58, 0.4);
  color: $background-color;
  text-align: center;
  padding: 0 15px 0;
}
.hero__overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/index/hero-dg.jpg);
}

.hero__container {
  display: inline-block;
  padding: 200px 0 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  height: 120px;
  margin-bottom: 30px;
  width: 696px;
}

.button {
   color: $background-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: $accent-color;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transform: scale(0.9);
  transition: transform $time $cubic;
  &:hover,
  &:focus {
    transform: scale(1);
  }
}


