.team {
  justify-content: space-between;
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.team-card {
  display: flex;
}
.team-card > .card:not(:last-child) {
  margin-right: 30px;
}
.team-card-text {
  margin: auto;
  padding: 30px 0;
  background-color: $background-color;
}
.button-social {
  width: 44px;
  height: 44px;
  margin: 0;
  transition: background-color $time $cubic;
}
.button-social:hover,
.button-social:focus {
  background-color: $accent-color;
  border-radius: 50%;
}
.button-social:hover .button-icons,
.button-social:focus .button-icons {
  fill: $background-color;
}
.team-social {
  margin-top: 16px;
}
.team-social-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  fill: #afb1b8;
  background-color: $background-color;
}

.team-social-item .button-social,
.footer-social-item .button-social {
  text-align: center;
  padding: 12px;
  margin: 0 12px 0 0;
  border-radius: 50%;
  /* border: none; */
}
.team-social-item .button-icons,
.team-social-item .button-icons {
  fill: #afb1b8;
  transition: fill $time $cubic;
}

.card {
  border-bottom: 1px solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team .item {
  display: flex;
  align-items: center;
}
li,
a {
  display: block;
}